<style>
  .message-content {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 600px;
    font-size: 18px;
    line-height: 21px;
  }
</style>

<div class="message-content">
  <p>Hello, {{name}}.</p>
  <p>Looks like a password reset was requested for your account.</p>
  <p>If you requested the password reset, then click the link bellow to register a new password:</p>
  <p>
    <a href="{{link}}">Reset my password</a>
  </p>
  <p>If you didn't request the password reset, delete this e-mail!</p>
  <p>
    Thank you!<br /><br />
    <strong>AppName Team</strong>
  </p>
</div>
